.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* do not group these rules */
webkit-input-placeholder {
  color: red;
}
*:-moz-placeholder {
  /* FF 4-18 */
  color: red;
  opacity: 1;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: red;
  opacity: 1;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: red;
}
*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}
*::placeholder {
  /* modern browser */
  color: red;
}